


---



---


# Table of Contents


---


## Introduction to Python Programming
1. Python Keywords
2. What is an Identifier?
3. Rules for Identifier Naming
4. Literals--raw data types
5. Variables
6. print() and input()

---

# 1. Python Keywords
>- Keywords are the pre-defined or built-in words whose meaning is already known to python interpreter.
>- Keywords are the reserved words in python
>- We can't use a keyword as variable name, function name or any other identifier
>- All the keywords except True, False and None are in lowercase and they must be written as is.

**Keyword	Description**
>-   ```and```- A logical operator
>-  ```as```-To create an alias
>-  ```assert```-For debugging
>-  ```break```-To break out of a loop
>-  ```class```	- To define a class
>-  ```continue```-	To continue to the next iteration of a loop
>-   ```def```	-To define a function
>-  ``` del```	-To delete an object
>-   ```elif```-	Used in conditional statements, same as else if
>-  ```else```-Used in conditional statements
>-  ```elif```-Used in conditional statements, same as else if
>-  ```else```-Used in conditional statements
>-   ```except```-Used with exceptions, what to do when an exception occurs
>-  ```False```-Boolean value, result of comparison operations
>-   ```finally```-Used with exceptions, a block of code that will be executed no matter if there is an exception or not
>- ```for```-To create a for loop
>-  ```from``` -To import specific parts of a module

In [ ]:
# importing the module
import keyword

# printing the keywords
print("Python keywords are...")
print(keyword.kwlist)
len(keyword.kwlist)

#there are of total 36 keywords

### Boolean expressions

Boolean expressions are created with the keywords and, or, not and is. For example:

In [ ]:
True and False

In [ ]:
False or True

In [ ]:
not True

In [ ]:
True is True

In [ ]:
True is False

In [ ]:
'X' == 'Z'

In [ ]:
'X' == 'X'

In [ ]:
10 == 15

In [ ]:
10 == 10

In [ ]:
True + True

In [ ]:
True - False

### Similarly you can multiply, divide etc

In [ ]:
True and False or True

# 2. What is an Identifier?
> Identifier is the name we give to identify a variable, function, class, module or other object. That means whenever we want to give an entity a name, thatâ€™s called identifier.

In [ ]:
# a is a identifier
a=10
# abc20 is an identifier
abc10=20

# 3. Rules to define identifiers:
1. Allowed characters => Alphabets, Digits and Underscore Symbol
2. Identifier should never start with a digit
3. Case Sensitive.
4. No length limit.
5. Can't use reserved words for identifier.

In [ ]:
language = 'Python'

In [ ]:
language

In [ ]:
# continue is a keyword cannot be used as identifier
continue = 'Python'

In [ ]:
# we can have _ and digits in between or end
a_b=10
a_=10
a1=10
a1b=10

In [ ]:
# but we cannot have digit in the start
1a=10

In [1]:
# we can have _ as the starting charactor of an identifier
_a=10

# 3. Literals
Literals in Python is defined as the raw data assigned to variables or constants while programming.

**The four main datatypes are**:

>- integral values: ```int```
>- decimal values: ```float```
>- true or false statements: ```bool```
>- text data: ```str```

Apart from these, there are many other datas type which we'll we looking at later

In [ ]:
print("Innomatics Research Labs")

In [ ]:
print(type("Innomatics Research Labs"))

In [ ]:
a=10
print(a)
print(type(a))

In [ ]:
a=19.09
print(a)
print(type(a))

In [ ]:
a="apple"
print("p" in a)
print(type("p" in a))

# 4. Variables
Variable is a data container

>Rules for Variable Declaration:
>- A variable name must start with a letter or the underscore character
>- A variable name cannot start with a number
>- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
> - Variable names are case-sensitive (age, Age and AGE are three different variables)

```python
# Allowed variable names
myvar = "innomatics"
my_var = "innomatics"
_my_var = "innomatics"
myVar = "innomatics"
MYVAR = "innomatics"
myvar2 = "innomatics"

# Variable names which are not allowed
2myvar = "innomatics"
my-var = "innomatics"
my var = "innomatics"
```

# type() is a function which returns type of data

```python
type()
```

In [5]:
a=10
b=10.8
c="welcome to innomatics"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# 5. print() and input()
## print()
The print() function prints the specified message to the screen
### Syntax
print(object(s), sep=separator, end=end, file=file, flush=flush)
### Important parameters
- object(s)-	Any object, and as many as you like. Will be converted to string before printed
- sep='separator'	Optional. Specify how to separate the objects, if there is more than one. Default is ' '
- end='end'	Optional. Specify what to print at the end. Default is '\n' (line feed)

Return type of print() is None

In [7]:
# getting input---- I am awesome
print('I am awesome')
# getting input---- I'm awesome
print("I'm awesome")
#getting input---- I am "awesome"
print('I am "awesome"')
# getting input---- I'm "awesome"
print('''I'm "awesome"''')
print("""I'm "awesome""")

I am awesome
I'm awesome
I am "awesome"
I'm "awesome"
I'm "awesome

In [9]:
# Using sep by default it is space
print('3','4')

3 4

In [11]:
print('3','4',sep='+')

3+4

In [13]:
# using end parameter by default it is \n
print('A')
print('is a first letter')

A
is a first letter

In [31]:
print('A',end=' ')
print('is a first letter')

A is a first letter

In [33]:
a = 'A'
b = ' is a first letter'
print (f'{a}{b}')

A is a first letter

In [ ]:
print('A',end='-')
print('is a first letter')

In [ ]:
# to get the returntype of print()
print(print())

## input()
The input() function allows user input.
### Syntax
input(prompt)<br>
prompt: A String, representing a default message before the input.

In [ ]:
a=input('Enter the value of a ')
print(a)

In [ ]:
# by defalt input function takes str as input
a=input('Enter the value of a ')
print(a)
print(type(a))

### Taking multiple inputs
Syntax : <br>
input().split(separator, maxsplit)<br>

In [41]:
a,b=input('enter values seperated by space ').split()
print('value of a',a)
print('value of b' ,b)

enter values seperated by space  x y

value of a x
value of b y

In [43]:
a,b=input('enter values seperated by , ').split(',',2)
print('value of a',a)
print('value of b' ,b)

enter values seperated by ,  x,7

value of a x
value of b 7