# DICTIONARY

# 1.1: Restaurant Menu Storage
Create a dictionary where dish names serve as keys and their prices as values. Display the menu in a user-friendly format.
Input:
Dishes = ["Pasta", "Biryani", "Apricot"]
Prices = [200, 300, 180]
Expected Output:
{“Pasta” : 200, ”Biryani” : 300, “Apricot” : 180}

In [1]:
Dishes = ["Pasta", "Biryani", "Apricot"]
Prices = [200, 300, 180]

In [5]:
z=zip(Dishes, Prices)

In [7]:
d = dict(z)

In [8]:
d

{'Pasta': 200, 'Biryani': 300, 'Apricot': 180}

# 2: English-to-Spanish Translation Dictionary
Create a dictionary for English-to-Spanish translations and return the Spanish equivalent of a given English word.
Input:
dictionary = {
    "Hello": "Hola",
    "Thank You": "Gracias",
    "Goodbye": "Adiós"
}
Given word = "Hello"
Expected Output:
Hola

In [9]:
dictionary = {
    "Hello": "Hola",
    "Thank You": "Gracias",
    "Goodbye": "Adiós"
}

In [12]:
dictionary

{'Hello': 'Hola', 'Thank You': 'Gracias', 'Goodbye': 'Adiós'}

In [13]:
listofvalues= list(dictionary.values())

In [14]:
listofvalues

['Hola', 'Gracias', 'Adiós']

In [15]:
listofvalues[0]

'Hola'

# 3: Student Grade Management
Store student names and grades in a dictionary, allowing users to enter data and calculate the class average.
Input:
grades = {
    "Ved": 85,
    "Teja": 90,
    "Pavan": 78
}
Expected Output:
Average Grade: 84.3

In [32]:
grades = {
    "Ved": 85,
    "Teja": 90,
    "Pavan": 78
}

In [34]:
grades

{'Ved': 85, 'Teja': 90, 'Pavan': 78}

In [39]:
listofmarks= list(grades.values())

In [40]:
listofmarks

[85, 90, 78]

In [52]:
listofmarks[0]

85

In [53]:
listofmarks[1]

90

In [55]:
listofmarks[2]

78

In [68]:
average_grade = (listofmarks[0]+listofmarks[1]+listofmarks[2])/3

In [69]:
average_grade

84.33333333333333

# 4: Employee Salary Management
Create a dictionary where employee names are keys and salaries are values. Identify the employee with the highest salary.
Input:
salaries = {
    "Ved": 60000,
    "Pavan": 75000,
    "Teja": 50000
}

In [92]:
salaries = {
    "Ved": 60000,
    "Pavan": 75000,
    "Teja": 50000
}

In [93]:
salaries

{'Ved': 60000, 'Pavan': 75000, 'Teja': 50000}

In [97]:
print("highest salary: pavan -", max(salaries.values()))

highest salary: pavan - 75000

# 5: Inventory Management System
Store product names and stock quantities in a dictionary, and implement a function to check stock availability for a given product.
Input:
inventory = {
    "Laptop": 5,
    "Mouse": 20,
    "Keyboard": 15
}
Given product = "Mouse"
Expected Output:
Mouse is available: 20 in stock.

In [98]:
inventory = {
    "Laptop": 5,
    "Mouse": 20,
    "Keyboard": 15
}

In [99]:
print("mouse is availabel:", max(inventory.values()),"in stock")

mouse is availabel: 20 in stock

# 6: Word Frequency Counter
Given a paragraph of text, count the frequency of each unique word and store it in a dictionary.
Input:
text = "apple banana apple orange banana apple"
Expected Output:
{'apple': 3, 'banana': 2, 'orange': 1}

In [101]:
text = "apple banana apple orange banana apple"

In [109]:
s=text.split()

In [110]:
s

['apple', 'banana', 'apple', 'orange', 'banana', 'apple']

In [121]:
print("{","'apple' :",s.count('apple'),",","'banana' :",s.count('banana'),",","'orange' :",s.count('orange'),"}")

{ 'apple' : 3 , 'banana' : 2 , 'orange' : 1 }

In [ ]:
# 7: Customer Order Management
Manage customer orders using a dictionary where the key is the order number, and the value is a list of ordered items.
Input:
orders = {
    "1001": ["Burger", "Fries"],
    "1002": ["Pizza", "Soda"]
}
order_id = "1001"
Expected Output:
1001 contains 2 items, they are Burger and Fries

In [150]:
orders = {
    "1001": ["Burger", "Fries"],
    "1002": ["Pizza", "Soda"]
}

order_id = input('Enter the order id:')

if order_id == '1001':
    print(f"{order_id} contains {len(orders[order_id])} items, they are {orders[order_id][0]} and {orders[order_id][1]}")
elif order_id == '1002':
    print(f"{order_id} contains {len(orders[order_id])} items, they are {orders[order_id][0]} and {orders[order_id][1]}")
else:
    print('Invalid Input')

Enter the order id: 1001

1001 contains 2 items, they are Burger and Fries

In [151]:
orders = {
    "1001": ["Burger", "Fries"],
    "1002": ["Pizza", "Soda"]
}

order_id = input('Enter the order id:')

if order_id == '1001':
    print(f"{order_id} contains {len(orders[order_id])} items, they are {orders[order_id][0]} and {orders[order_id][1]}")
elif order_id == '1002':
    print(f"{order_id} contains {len(orders[order_id])} items, they are {orders[order_id][0]} and {orders[order_id][1]}")
else:
    print('Invalid Input')

Enter the order id: 1002

1002 contains 2 items, they are Pizza and Soda

In [155]:
orders = {
    "1001": ["Burger", "Fries"],
    "1002": ["Pizza", "Soda"], 
    "1003" : [ "Burger", "Fries", "Soda"]
}

# Taking order_id from the user 
order_id = input('Enter the order id:')

# here depending upon the order if, we will get the desired result
if order_id == '1001':
    print(f"{order_id} contains {len(orders[order_id])} items, they are {orders[order_id][0]} and {orders[order_id][1]}")
elif order_id == '1002':
    print(f"{order_id} contains {len(orders[order_id])} items, they are {orders[order_id][0]} and {orders[order_id][1]}")
elif order_id == '1003':
    print(f"{order_id} contains {len(orders[order_id])} items, they are {orders[order_id][0]} and {orders[order_id][1]}")
else:
    print('Invalid Input')

Enter the order id: 1003

1003 contains 3 items, they are Burger and Fries

In [153]:
orders = {
    "1001": ["Burger", "Fries"],
    "1002": ["Pizza", "Soda"]
}

order_id = input('Enter the order id:')

if order_id == '1001':
    print(f"{order_id} contains {len(orders[order_id])} items, they are {orders[order_id][0]} and {orders[order_id][1]}")
elif order_id == '1002':
    print(f"{order_id} contains {len(orders[order_id])} items, they are {orders[order_id][0]} and {orders[order_id][1]}")
else:
    print('Invalid Input')

Enter the order id: 1003

Invalid Input

In [154]:
lst = [1,2,3,4,5,6,7,8,9,10]

even_lst = []
odd_lst = []

for i in lst:
    if i%2 == 0:
        even_lst.append(i)
    else:
        odd_lst.append(i)

print(f'The even list: {even_lst}')
print('-'*20)
print(f'The odd list: {odd_lst}')

The even list: [2, 4, 6, 8, 10]
--------------------
The odd list: [1, 3, 5, 7, 9]

In [ ]:
if statement 
multiple if ---> limitation 
if else ---> when we have two condition
if elif else ----> multiple condition
Nested if else or nested if elif else